* {
  margin: 0px;
}
body {
  width: 100%;
  height: 100%;
  background: rgb(28, 25, 25);
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
}
.inter-normal-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: italic;
}
.inter-big {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-style: normal;
}
.inter-big-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-style: italic;
}
.inter-seven {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}
.inter-small {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
}
.inter-min {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}
@font-face {
  font-family: "miama";
  src: url(/fonts/Miama.ttf);
}
/* font-styles ends */

/* header nav styles */
.background {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  margin-bottom: 100px;
  margin-top: -20px;
}
.display {
  display: flex;
}
.headername {
  width: 100px;
  height: 43px;
  color: rgb(230, 83, 60);
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-right: 790px;
  margin-left: 190px;
  margin-top: 46px;
}

.navigation {
  width: 350px;
  height: 42px;
  padding: 10px 2px 10px 2px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  margin-top: 46px;
  margin-right: 177px;

  justify-content: flex-start;
  align-items: center;
}
/* .navigation > button {
  width: 92px;
  height: 38px;
  padding: 6px 20px 20px 20px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}
button:hover {
  cursor: pointer;
} */
/* .btn {
  width: 52px;
  height: 22px;
  margin: 0px auto;
} */
.navigation > a {
  text-decoration: none;
  width: 64px;
  height: 22px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
a:hover {
  width: 100%;
  height: 100%;
  /* padding: 5px; */
  border-radius: 46px;
  background: rgb(230, 83, 60);
}
/* big text section */
.custom-font {
  font-family: "miama";
  font-weight: 400;
  font-size: 78px;
}
.big-texts {
  width: 520px;
  height: 250px;
  margin: 100px 0px;
  font-size: 78px;
  margin-left: 190px;
  color: rgb(255, 255, 255);
}
.description {
  width: 520px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-left: 190px;
  color: rgba(255, 255, 255, 0.5);
}
.click {
  width: 224px;
  height: 54px;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  margin-left: 180px;
  margin-top: 28px;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border: none;
}
.click1 {
  width: 224px;
  height: 54px;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border: 1px solid rgb(255, 255, 255);
  background: none;
}
/* hero section */
.hero-section {
  display: flex;
}
.circle {
  background-color: rgb(230, 83, 60);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-top: 22px;
  margin-left: 10px;
}
.card-flex {
  display: flex;
  gap: 10px;
  width: 206px;
  height: 85px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.5);
  margin-top: 270px;
  margin-left: -120px;
}
.card1 {
  margin-top: 20px;
}
.number {
  width: 68px;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgb(250, 250, 249);
}
.number-des {
  width: 140px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(239, 237, 232, 0.65);
}
.card2 {
  width: 206px;
  height: 85px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: rgba(48, 48, 48, 0.5);
  margin-left: 200px;
  margin-top: 120px;
  margin-right: 100px;
}
.number1 {
  width: 68px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgb(250, 250, 249);
  margin-top: 20px;
  margin-left: 20px;
}
.number1-des {
  width: 170px;
  height: 24px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(239, 237, 232, 0.65);
  margin-left: 20px;
}
.hero2 {
  background: url("../images/Images2.png");
  background-repeat: no-repeat;
  width: 349px;
  height: 580px;
  margin-left: 300px;
  margin-top: 30px;
}
/* section-2 */
.title {
  width: 476px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px auto;
}
.title-des {
  width: 671px;
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 0px auto;
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
  text-align: center;
}
/* image-section */
.image-flex {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  gap: 10px;
}
.border {
  border-radius: 50%;
}
.image-head {
  width: 107px;
  height: 22px;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;

  margin: 0px auto;
  margin-left: 40px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}
.image-head1 {
  width: 107px;
  height: 22px;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;

  margin-left: 70px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}
.image-head2 {
  width: 107px;
  height: 22px;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;

  margin-left: 58px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}
.image-head3 {
  width: 107px;
  height: 22px;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;

  margin-left: 42px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}
.image-des {
  width: 190px;
  height: 36px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-right: 50px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 100px;
}
.image-des1 {
  width: 190px;
  height: 36px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-left: 8px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 100px;
}
/* section-3 */
.page-flex {
  display: flex;
  background: rgb(34, 34, 34);
  width: 1060px;
  height: 371px;
  margin: 0px auto;
  border-radius: 18px;
  margin-bottom: 100px;
  margin-top: 150px;
}
/* image */
.run-radius {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  margin-left: 160px;
  margin-top: 30px;
}
.head {
  width: 250px;
  height: 47px;
  font-size: 34px;
  margin: 0px auto;
  color: rgb(255, 255, 255);
}
.head-des {
  width: 850px;
  height: 90px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0px auto;
}
.image-edit {
  width: 44px;
  height: 44px;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 10px;
}
.machine-text {
  width: 174px;
  height: 27px;
  font-size: 19px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-left: -10px;
}
.machine-text-des {
  width: 198px;
  height: 190px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 28px;
  text-align: left;
  margin-left: 20px;
}
.machine {
  display: flex;
  margin-bottom: 150px;
  justify-content: space-evenly;
  margin-top: 50px;
}
.machine-image {
  width: 267px;
  height: 330px;
  border-radius: 8px;
  box-shadow: 0px 6px 50px 0px black;
  background: rgba(255, 255, 255, 0.1);
}
.big-text1 {
  width: 443px;
  height: 116px;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 41px;
  margin-left: 54px;
  color: rgb(255, 255, 255);
}
.big-textdes {
  width: 443px;
  height: 72px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 54px;
}
.join-now {
  width: 224px;
  height: 54px;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  margin-left: 54px;
  margin-top: 28px;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border: none;
}
/* section-4 */
.training-text {
  width: 573px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 250px;
}
.training-des {
  width: 443px;
  height: 72px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-left: 255px;
  margin-bottom: 58px;
}
/* collage section */

/* .image-1 {
  width: 323px;
  height: 218px;
  position: relative;
}
.image-1des {
  width: 176px;
  height: 17px;
  color: black;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  position: absolute;
  margin-bottom: 20px;
} */
/* .collage {
  display: flex;
  border: 1px solid black;
  align-items: center;
}
.card1 > img {
  width: 323px;
  height: 218px;
  margin-left: 174px;
}

.card3 > img {
  width: 388px;
  height: 214px; */

.training-texts1 {
  margin-left: 384px;
  width: 573px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 64px;
}
.training-des1 {
  margin-left: 384px;
  width: 671px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 88px;
}

.calculator-text {
  width: 443px;
  /* height: 10px; */
  font-size: 28px;

  text-align: left;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  margin-left: 250px;
  /* margin-top: 100px; */
}
.whole-sec {
  background: rgb(34, 34, 34);
  width: 100%;
  height: 487px;
  margin-bottom: 88px;
  /* align-items: center; */
  /* display: flow-root; */
}
.bmi-calculator {
  display: flex;
  /* justify-content: space-evenly; */

  align-items: center;
}
.chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 316px;
  height: 200px;
  align-items: center;
  margin-left: 250px;
}
.item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  line-height: 120%;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.option-making {
  margin-left: 40px;
}
.second-calculation {
  text-align: left;
  width: 443px;
  height: 34px;
  color: rgb(255, 255, 255);
  line-height: 120%;
  margin-top: 45px;
}
.calculation-des {
  margin-left: 0px;
  margin-bottom: 20px;
}
.h-w-flex {
  display: flex;
  gap: 10px;
}

.h-w-flex > input {
  width: 282.5px;
  height: 48px;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.s-a-flex > input {
  width: 282.5px;
  height: 48px;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.s-a-flex > select {
  width: 345px;
  height: 72px;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  font-size: 16px;
}
select > option {
  color: black;
  font-size: 16px;
}
.activity {
  width: 698px;
  height: 72px;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 30px;
}
.calculate {
  margin-top: -10px;
  margin-left: 3px;
}
.welcome-text {
  width: 364px;
  height: 58px;
  font-size: 48px;
  color: rgb(255, 255, 255);
  line-height: 120%;
  text-align: left;
  margin: 0 auto;
}
.welcome-des {
  width: 671px;
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0px auto;
  margin-bottom: 58px;
}

.images-team {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "a b c "
    "d e f";
  gap: 20px;
  padding: 30px 10px 45px 23px;
  width: 1060px;
  height: 550px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 88px;
}

.cards-1 {
  grid-area: a;
}
.cards-2 {
  grid-area: b;
}
.cards-3 {
  grid-area: c;
}
.cards-4 {
  grid-area: d;
}
.cards-5 {
  grid-area: e;
}
.cards-6 {
  grid-area: f;
}
.cards-1 > img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
}
.cards-2 > img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
}
.cards-3 > img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
}
.cards-4 > img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
}
.cards-5 > img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
}
.cards-6 > img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
}
.footer-main {
  display: flex;
}
.all-footer {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 489px;
}
.footer-second-text {
  display: flex;
  margin-left: 180px;

  margin-top: 66px;
}
.main-text {
  width: 256px;
  height: 84px;
  font-size: 70px;
  line-height: 120%;
  text-align: left;
  color: rgb(230, 83, 60);
  margin-left: 250px;
  margin-top: 66px;
}
.main-text-des {
  width: 443px;
  height: 72px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-left: 250px;
  margin-top: 20px;
}
.get-text {
  width: 181px;
  height: 38px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  line-height: 120%;
  text-align: left;
  margin-left: 32px;
  margin-bottom: 35px;
}
.get-text-des > li {
  width: 200px;
  height: 28px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  line-height: 120%;
  text-align: left;
  list-style-type: none;
}
.get-text1 {
  width: 181px;
  height: 38px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  line-height: 120%;
  text-align: left;
  margin-left: 32px;
  margin-bottom: 35px;
}
.get-text-des1 > li {
  width: 160px;
  height: 28px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 120%;
  text-align: left;
  list-style-type: none;
}
.horizontal-line {
  width: 1050px;
  height: 0px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-top: 150px;
  margin-left: 250px;
}
.rights {
  width: 350px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 600px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.ham {
  color: aliceblue;
  display: none;
}
@media screen and (max-width: 576px) {
  body {
    width: 99%;
    height: 100%;
    background: rgb(0, 0, 0);
  }

  .navigation {
    display: none;
  }
  /* .hambar {
    width: 18px;
    height: px;
    color: rgb(255, 255, 255);
  } */

  .big-texts {
    width: 285px;
    height: 129px;
    font-size: 36px;
    text-align: left;
  }
  .hero-section {
    flex-direction: column;
    margin: 0px auto;
  }
  .hero2 {
    width: 350px;
    height: 550px;
    margin-left: 15px;
    margin-top: 0px;
  }
  .btn-join {
    display: flex;
    margin-bottom: 20px;
  }

  .click {
    width: 120px;
    height: 45px;
    font-size: 12px;
    padding: 15px 10px 15px 10px;
    margin-left: 20px;
  }
  .click1 {
    width: 120px;
    height: 45px;
    font-size: 12px;
    padding: 15px 10px 15px 10px;
    margin-top: 29px;
  }
  .background {
    width: 100%;
    margin: auto;
    height: 1024px;
    background: linear-gradient(
      180deg,
      rgb(17, 17, 17),
      rgba(119, 119, 119, 0) 100%
    );
    margin-bottom: 100px;
    margin-top: -20px;
  }
  .headername {
    width: 132px;
    height: 43px;
    font-size: 30px;
    line-height: 120%;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .big-texts {
    width: 250px;
    height: 110px;
    font-size: 28px;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
  }
  .custom-font {
    font-size: 70px;
    text-align: left;
  }
  .description {
    width: 250px;
    height: 89px;
    font-size: 13px;
    margin-left: 20px;
    margin-top: -10px;
  }
  .card2 {
    width: 120px;
    height: 55px;
    align-items: center;
  }
  .number1 {
    width: 70px;
    height: 24px;
    font-size: 20px;
    margin-top: 7px;
    margin-right: 50px;
  }
  .number1-des {
    width: 99px;
    height: 10px;
    font-size: 8.5px;
  }
  .card-flex {
    width: 120px;
    height: 55px;
    margin-left: 20px;
    align-items: center;
  }
  .number {
    width: 45px;
    height: 15px;
    font-size: 14px;
    margin-top: -25px;
    margin-right: 30px;
  }
  .number-des {
    width: 75px;
    height: 15px;
    font-size: 10px;
  }
  .circle {
    width: 23px;
    height: 23px;
    margin-top: 0px;
  }
  .title {
    width: 290px;
    height: 30px;
    font-size: 29px;
    margin: 0px auto;
    margin-left: 50px;
  }
  .title-des {
    width: 250px;
    height: 68px;
    font-size: 10px;
    margin: 0px auto;

    margin-bottom: 20px;
    margin-top: 10px;
  }
  .image-flex {
    flex-direction: column;
    margin: auto;
    width: 50%;
    /* margin-left: 55px; */
  }
  .page-flex {
    flex-direction: column;
    width: 300px;
    height: 500px;
    /* margin-left: 8px; */
    margin-top: 20px;
  }
  .big-text1 {
    width: 250px;
    height: 70px;
    font-size: 29px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .big-textdes {
    width: 270px;
    height: 88px;
    font-size: 10px;
    margin-left: 20px;
  }
  .join-now {
    width: 275px;
    height: 48px;
    padding: 16px 20px 16px 20px;
    margin-left: 15px;
    margin-bottom: 18px;
  }
  .run-radius {
    width: 275px;
    height: 160px;
    margin-left: 13px;
  }
  .head {
    width: 210px;
    height: 30px;
    font-size: 28px;
    margin-left: 120px;
  }
  .head-des {
    width: 280px;
    height: 68px;
    font-size: 12px;
    text-align: middle;
    margin-left: 75px;
    margin-top: 10px;
  }
  .machine {
    flex-direction: column;
    margin-left: 75px;
  }
  .machine-image {
    margin-bottom: 10px;
  }
  .training-texts1 {
    width: 210px;
    height: 30px;
    font-size: 28px;
    margin-left: 20px;
  }
  .training-des1 {
    width: 300px;
    height: 68px;
    font-size: 12px;
    margin-left: 20px;
  }
  .calculator-text {
    width: 162px;
    height: 15px;
    font-size: 16px;
    margin-left: -2px;
    margin-top: 50px;
  }
  .whole-sec {
    width: 99.5%;
    height: 770px;
  }
  .bmi-calculator {
    flex-direction: column;
  }
  .chart {
    width: 273px;
    height: 180px;
    margin-left: -10px;
  }
  .second-calculation {
    width: 162px;
    height: 15px;
    font-size: 16px;

    margin-left: 0px;
  }
  .calculation-des {
    width: 300px;
    height: 68px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 10px;
  }
  .h-w-flex > input {
    width: 80px;
    height: 35px;
    padding: ;
    margin-left: -7px;
    margin-right: 1px;
  }
  .s-a-flex > input {
    width: 80px;
    height: 35px;
    margin-left: -7px;
    margin-right: 7px;
  }
  .s-a-flex > select {
    width: 141px;
    height: 58px;
    margin-left: -7px;
  }
  .activity {
    width: 290px;
    height: 58px;
    margin-left: -9.5px;
  }
  .calculate {
    margin-left: -4px;
  }
  .welcome-text {
    width: 238px;
    height: 30px;
    font-size: 28px;
    margin-left: 88px;
  }
  .welcome-des {
    width: 300px;
    height: 68px;
    text-align: center;
    font-size: 12px;
    margin: 0px auto;
    margin-left: 34px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .images-team {
    grid-template-areas:
      "b"
      "c"
      "e"
      "f";
    width: 274.5px;
    height: 1100px;
  }
  .cards-2 > img {
    width: 280px;
    height: 260px;
    padding: 0px;
    margin-left: -8px;
  }
  .cards-3 > img {
    width: 280px;
    height: 260px;
    padding: 0px;
    margin-left: -8px;
  }
  .cards-5 > img {
    width: 280px;
    height: 260px;
    padding: 0px;
    margin-left: -8px;
  }
  .cards-6 > img {
    width: 280px;
    height: 260px;
    padding: 0px;
    margin-left: -8px;
  }
  .cards-4 > img {
    display: none;
  }
  .cards-1 > img {
    display: none;
  }
  .main-text {
    width: 248px;
    height: 78px;
    font-size: 58px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .main-text-des {
    width: 305px;
    height: 88px;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .get-text {
    width: 170px;
    height: 30px;
    font-size: 27px;
    margin-left: 2px;
  }
  .get-text1 {
    width: 170px;
    height: 30px;
    font-size: 27px;
    margin-left: 2px;
  }
  .get-text-des > li {
    width: 140px;
    height: 20px;
    font-size: 18px;
    margin-left: -40px;
    margin-bottom: 20px;
  }
  .get-text-des1 > li {
    width: 135px;
    height: 20px;
    font-size: 18px;
    margin-left: -40px;
    margin-top: 20px;
  }
  .footer-main {
    flex-direction: column;
  }
  .footer-second-text {
    flex-direction: column;
    margin-left: 20px;
  }
  .all-footer {
    width: 99.5%;
    height: 950px;
  }
  .horizontal-line {
    width: 280px;
    margin-left: 18px;
    margin-top: 145px;
  }
  .rights {
    width: 310px;
    height: 20px;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 426px) {
  .background {
    width: 420px;
  }
  .ham {
    color: rgb(255, 255, 255);
    width: 30px;
    margin-left: 20px;
  }
  .page-flex {
    margin-left: 67px;
  }
  .whole-sec {
    width: 425px;
  }
  .chart {
    margin-left: -60px;
  }
  .calculator-text {
    margin-left: -55px;
  }
  .welcome-text {
    margin-left: 115px;
  }
  .welcome-des {
    margin-left: 65px;
  }
  .images-team {
    margin-left: 63px;
  }
  .all-footer {
    width: 425px;
  }
}
